<ion-view view-title="Appkit">
	<ion-content>
		<div class="decoration"></div>
		<div class="container">
			<h1 class="center">About</h1>
			<p class="center">We have tons of features for you, check the navigation bellow or tap the button to see more!</p>
		</div>
		<div class="decoration"></div>
		<div>
			<img src="img/education-banner-1.png" alt="banner image" width="100%" height="150px">
			<p></p>
		</div>
		<div class="decoration"></div>
		<div>
			<p class="center">We have tons of features for you, check the navigation bellow or tap the button to see more. We have tons of features for you, check the navigation bellow or tap the button to see more. We have tons of features for you, check the navigation bellow or tap the button to see more!</p>
		</div>
		<div class="decoration"></div>
		<ion-list>
          	<div ng-include="'templates/_footer.html'"></div>
        </ion-list>
	</ion-content>
</ion-view>
