<ion-view view-title="Appkit">
	<ion-content>
		<ion-list>
	    	<ul class="row gallery">
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>	
			</ul>
		</ion-list>
		<ion-list>
	    	<ul class="row gallery">
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>	
			</ul>
		</ion-list>
		<ion-list>
	    	<ul class="row gallery">
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>	
			</ul>
		</ion-list>
		<ion-list>
	    	<ul class="row gallery">
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>	
			</ul>
		</ion-list>
		<ion-list>
	    	<ul class="row gallery">
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>
				<li class="col ">
					<a class="swipebox" href="../img/1t.jpg" title="hello">
						<img class="full-image" src="../img/1t.jpg" >
					</a>
				</li>	
			</ul>
		</ion-list>
		<ion-list>
          	<div ng-include="'templates/_footer.html'"></div>
        </ion-list>
	</ion-content>
</ion-view>
