<ion-view view-title="AppKit">
    <ion-content class="playlist">
        <ion-list>
           <!--  <img src="img/education-banner-1.png" alt="banner image" width="100%" height="150px"> -->
            <ion-slide-box slide-interval>
                <ion-slide><img src="img/education-banner-1.png" alt="banner image" width="100%" height="150px"></ion-slide>
                <ion-slide><img src="img/education-banner-1.png" alt="banner image" width="100%" height="150px"></ion-slide>
                <ion-slide><img src="img/education-banner-1.png" alt="banner image" width="100%" height="150px"></ion-slide>
            </ion-slide-box>
        </ion-list>
        <ion-list>
            <center>
                <h1>ABOUT</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                    'Content here, content here', making it look like readable English.</p>
            </center>
        </ion-list>
        <hr>
        <ion-list>
            <div>
                <div class="row">
                    <div class="col center">
                        <div >
                            <img src="http://www.enableds.com/products/aufidius/images/icons-large/icon2@2x.png" style="height: 100px;width: 100px">
                        </div>
                        <div>
                            <h2>LARGE<br>COMPATIBILTY</h2>
                        </div>
                        <div>
                            <p>This is some testing parag raph raph v raph</p>
                        </div>
                    </div>
                    <div class="col center">
                        <div >
                            <img src="http://www.enableds.com/products/aufidius/images/icons-large/icon1@2x.png" style="height: 100px;width: 100px">
                        </div>
                        <div>
                            <h2>LARGE<br> COMPATIBILTY</h2>
                        </div>
                        <div>
                           <p> This is some testing parag raph raph v raph</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <div >
                            <img src="http://www.enableds.com/products/aufidius/images/icons-large/icon3@2x.png" style="height: 100px;width: 100px">
                        </div>
                        <div>
                            <h2>LARGE <br>COMPATIBILTY</h2>
                        </div>
                        <div>
                            <p>This is some testing parag raph raph v raph</p>
                        </div>
                    </div>
                    <div class="col center">
                        <div >
                            <img src="http://www.enableds.com/products/aufidius/images/icons-large/icon4@2x.png" style="height: 100px;width: 100px">
                        </div>
                        <div>
                            <h2>LARGE <br>COMPATIBILTY</h2>
                        </div>
                        <div>
                            <p>This is some testing parag raph raph v raph</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <hr>
        <ion-list style="float: left">
            <div class="portfolio_div">
                <div class="portflio_content  center">
                    <h1>For Portfolio Design</h1>
                    <p>This is some testing paragraph, This is some testing paragraph</p>
                    <button class="button button-positive">
                      Load More
                    </button>
                </div>
                <hr>
            </div>
        </ion-list>
        <hr>
        <ion-list>
            <div class="subscribe_div center">
                <div class="portflio_content ">
                    <h1 class="center">For subscribe Design</h1>
                    <p class="center">This is some testing paragraph, This is some testing paragraph</p>
                    <div class="list ">
                        <label class="item item-input center" style="width: 80%;margin-left: 9%">
                          <input type="text" placeholder="Enter Your Email Here" >
                        </label>
                    </div>
                    <button class="button button-balanced ">
                      Subscribe Now
                    </button>
                </div>
                <hr>
            </div>
        </ion-list>
        <ion-list>
          <div ng-include="'templates/_footer.html'"></div>
        </ion-list>
    </ion-content>
</ion-view