

<div dynamic="html"></div>
    


<hr>
<ion-list>
    <div>
        <div class="row">
            <div class="col center">
                <div >
                    <img src="../img/icon-image1.png" class="image-size">
                </div>
                <div>
                    <h2>LARGE<br>COMPATIBILTY</h2>
                </div>
                <div>
                    <p>This is some testing parag raph raph v raph</p>
                </div>
            </div>
            <div class="col center">
                <div >
                    <img src="../img/icon-image2.png" class="image-size" >
                </div>
                <div>
                    <h2>LARGE<br> COMPATIBILTY</h2>
                </div>
                <div>
                   <p> This is some testing parag raph raph v raph</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <div >
                    <img src="../img/icon-image3.png" class="image-size" >
                </div>
                <div>
                    <h2>LARGE <br>COMPATIBILTY</h2>
                </div>
                <div>
                    <p>This is some testing parag raph raph v raph</p>
                </div>
            </div>
            <div class="col center">
                <div >
                    <img src="../img/icon-image4.png" class="image-size" >
                </div>
                <div>
                    <h2>LARGE <br>COMPATIBILTY</h2>
                </div>
                <div>
                    <p>This is some testing parag raph raph v raph</p>
                </div>
            </div>
        </div>
    </div>
</ion-list>
<hr>
<ion-list class="left-float">
    <div class="portfolio_div">
        <div class="portflio_content  center">
            <h1>For Portfolio Design</h1>
            <p>This is some testing paragraph, This is some testing paragraph</p>
            <button class="button button-positive">
              Load More
            </button>
        </div>
        <hr>
    </div>
</ion-list>
<hr>
<ion-list>
    <div class="subscribe_div center">
        <div class="portflio_content ">
            <h1 class="center">For subscribe Design</h1>
            <p class="center">This is some testing paragraph, This is some testing paragraph</p>
            <div class="list ">
                <label class="item item-input center size-textbox">
                  <input type="text" placeholder="Enter Your Email Here" >
                </label>
            </div>
            <button class="button button-balanced ">
              Subscribe Now
            </button>
        </div>
        <hr>
    </div>
</ion-list>
<ion-list>
  <div ng-include="'templates/_footer.html'"></div>
</ion-list>